[Unit]
Description=xcape makes modifier keys send custom key events when pressed on their own
Documentation=man:xcape(1)
Documentation=https://github.com/alols/xcape
After=display-manager.service

[Service]
Environment=XCAPE=Control_L=Escape;Control_R=Escape
ExecStart=/usr/bin/xcape -e "${XCAPE}"
Restart=always

[Install]
WantedBy=default.target
